# =========================
# Dependencies
# =========================
**/node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Build Output
# =========================
dist/
build/
coverage/

# =========================
# Cache
# =========================
.cache/
.vite/
.eslintcache

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary Files
# =========================
*.tmp
*.swp

# =========================
# Runtime
# =========================
pids/
*.pid

# =========================
# Testing
# =========================
.nyc_output/